#userform  {
  border: 1px solid black;
  border-width: 1px;
  margin-left: auto; 
  margin-right: auto;
  border-collapse: collapse;
}

#userform td {
  border: 0;
  vertical-align: bottom;
  text-align: right;
  background-color: antiquewhite;
  padding: 4px;
}

#usershow {
  border: 1px solid black;
  border-width: 1px;
  margin-left: auto; 
  margin-right: auto;
  border-collapse: collapse;
}

#usershow td, #usershow th {
  padding: 8px;
}

#usershow tr:nth-child(even){background-color: antiquewhite;}

#usershow tr:hover {background-color: #ddd;}

#usershow th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#errorMessage {
    background-color: lightblue;
    border: 1px solid #333;
    padding: 10px;
    width: 200px;

    z-index: 1000;

    position: fixed;
    left: 0;
    bottom: 0;
}
